<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="facetag.facetagmobileapp" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignupActivity"
            android:label="@string/title_activity_signup" >
        </activity>
        <activity
            android:name=".MainMenuActivity"
            android:label="@string/title_activity_main_menu" >
        </activity>
        <activity
            android:name=".UserListActivity"
            android:label="@string/title_activity_friends_list" >
        </activity>
        <activity
            android:name=".UserViewActivity"
            android:label="@string/title_activity_user_view" >
        </activity>
        <activity
            android:name=".ImageListActivity"
            android:label="@string/title_activity_image_list" >
        </activity>
        <activity
            android:name=".ImageSubmitFormActivity"
            android:label="@string/title_activity_image_submit_form" >
        </activity>
        <activity
            android:name=".ImageViewActivity"
            android:label="@string/title_activity_image_view" >
        </activity>
        <activity
            android:name=".RectanglesActivity"
            android:label="@string/title_activity_rectangles" >
        </activity>
        <activity
            android:name=".FriendPickerActivity"
            android:label="@string/title_activity_friend_picker" >
        </activity>
        <activity
            android:name=".SearchActivity"
            android:label="@string/title_activity_search" >
        </activity>
    </application>

</manifest>
